[submodule "fso-part03"]
	path = fso-part03
	url = https://github.com/nikogenix/fso-part03
[submodule "fso-part10"]
	path = fso-part10
	url = https://github.com/nikogenix/fso-part10
[submodule "fso-part11a"]
	path = fso-part11a
	url = https://github.com/nikogenix/fso-part11a
[submodule "fso-part11b"]
	path = fso-part11b
	url = https://github.com/nikogenix/fso-part11b
[submodule "fso-part12"]
	path = fso-part12
	url = https://github.com/nikogenix/fso-part12
