.notification {
	color: rgb(4, 119, 81);
	background: lightgrey;
	font-size: 15px;
	border-style: solid;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
}

.error {
	color: rgb(119, 4, 4);
	background: lightgrey;
	font-size: 15px;
	border-style: solid;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
}

button {
	padding: 5px;
	margin-top: 8px;
}
